<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans">

	<bean id="downloadViewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
       <property name="order" value="0" />
    </bean>

	<bean id="download" class="spring.model.DownloadView"/>

	<!-- spring interceptor - fileUpload setting-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <property name="maxUploadSize" value="-1"/> <!-- -1은 업로드 크기의 제한없음-->
      <property name="defaultEncoding" value="UTF-8"/>
   </bean>

	<!-- spring interceptor -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
	
		<property value="/WEB-INF/views/" name="prefix"/>
		<property value=".jsp" name="suffix"/>	
	
	</bean>
	
	<!-- 
		@Controller, @Service, @Repository
		bean 객체로 자동 등록된다.
	 -->
	<context:component-scan base-package="spring.model"/>

</beans>